__pycache__/
*.py[cod]
*$py.class

env/
venv/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log
*.tmp
*.swp
*.swo

results/plots/

*.zip
*.tar.gz
*.rar
*.7z

data/processed/*
!data/processed/.keep

data/raw/*
!data/raw/.keep